@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Inter',sans-serif;
    color: #000000;
}

.top {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: bisque;
    padding: 20px;
}

.logo {
    font-weight: 800;
    font-size: 2.5rem;

}

.time-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 22%;
    transform:translate(-50%,-50%);
}

.time-show p{
    font-size: 1.5rem;
}
.time-show h2 {
    font-size: 6rem;
}

.map {
    width: 100%;
    height: 660px;
    background-color: aquamarine;
    position: absolute;
    left: 50%;
    top: 65%;
    transform:translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
